In [3]:
a =10
b = 20
sum = a + b
print("your sum is", sum)

your sum is 30

In [4]:
x = int(input("first number \n"))
y = int(input("second number \n"))
sum = x+y
print("sum of 2 numbers is", sum)

first number
10
second number
20
sum of 2 numbers is 30

In [5]:
print(type("20"))

<class 'str'>

In [6]:
2**5

32

In [7]:
3**3

27

In [9]:
d = "i m a python coder!!"
print(d.endswith("!"))
print(d.endswith("r"))

True
False

In [11]:
print(d.capitalize())
print(d.replace("m", "am"))

I m a python coder!!
i am a python coder!!

In [12]:
print(d.find("p"))

6

In [13]:
print(d.count("o"))

2

In [16]:
age = int(input("enter your age"))
if(age>=18):
    print("eligible")
else:
    print("not eligible")

enter your age19
eligible

In [19]:
# even odd
num = int(input("enter your no\n"))
if(num%2 == 0):
    print("even")
else:
    print("odd")

enter your no
68
even

In [22]:
e = int(input("enter no 1 \n"))
f = int(input("enter no 2 \n"))
g = int(input("enter no 3 \n"))

if((e>f) and (e>g)):
    print(e ,"is greater")
elif((f>e) and (f>g)):
    print(f, "is greater")
else:
    print(g, "is greater")

enter no 1
67
enter no 2
98
enter no 3
5
98 is greater

In [25]:
user = input("enter user name\n")
password = input("enter your password\n")

if(user=="admin" and password=="password123"):
    print("welcome", user, "!!")
else:
    print("Info incorrect. Try again")

enter user name
admin
enter your password
password123
welcome admin !!

In [26]:
user = input("enter user name\n")
password = input("enter your password\n")

if(user="admin" and password="password123"):
    print("welcome", user, "!!")
else:
    print("Info incorrect. Try again")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (429800069.py, line 4)

In [29]:
marks = [20, 30, 40]
print(marks)
print(marks.append(80))
print(marks.sort())
print(marks.sort(reverse=True))

[20, 30, 40]
None
None
None

In [32]:
marks = [20, 40, 30]
marks.append(80)
print(marks)

marks.sort()
print(marks)


marks.sort(reverse=True)
print(marks)

marks.reverse()
print(marks)

[20, 40, 30, 80]
[20, 30, 40, 80]
[80, 40, 30, 20]
[20, 30, 40, 80]

In [34]:
marks.insert(2, 10)
print(marks)

marks.reverse()
print(marks)

[20, 30, 10, 10, 40, 80]
[80, 40, 10, 10, 30, 20]

In [35]:
#remove- pass value -> first occurance of that value removed
marks.remove(10)
print(marks)

[80, 40, 10, 30, 20]

In [37]:
#pop- pass index no
marks.pop(1)
print(marks)

[80, 30, 20]

In [39]:
movies = []
mov1 = input("enter you fvt movie 1 \n")
mov2 = input("enter you fvt movie 2 \n")
mov3 = input("enter you fvt movie 3 \n")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter you fvt movie 1
YJHD
enter you fvt movie 2
DDLJ
enter you fvt movie 3
JAB WE MET
['YJHD', 'DDLJ', 'JAB WE MET']

In [8]:
student = {
    "name" : "pooja",
    "city" : "ggn",
    "marks" : [90, 78, 66]
}

print (student)

{'name': 'pooja', 'city': 'ggn', 'marks': [90, 78, 66]}

In [9]:
print(student.keys())

dict_keys(['name', 'city', 'marks'])

In [10]:
stu1 = {
    "city" : "hr"
}

student.update(stu1)
print(student)

{'name': 'pooja', 'city': 'hr', 'marks': [90, 78, 66]}

In [11]:
print(student.values())

dict_values(['pooja', 'hr', [90, 78, 66]])

In [13]:
print(student["marks"][2])

66

In [15]:
print("marks" in student)

True

In [16]:
print(90 in student["marks"])

True

### class 4 loops

In [1]:
i = 1
while (i<=5):
    print(i)
    i+=1

1
2
3
4
5

In [6]:
i = 10
while (i>=1):
    print(i)
    i-=2

10
8
6
4
2

In [8]:
i = 1
while (i<=10):
    if(i==5):
        break
    else:
        print(i)
        i+=2

1
3

#### mass comment options
shift + ?

In [1]:
i = 1
while (i<=5):
    if(i==4):
        i+=1
        continue
    else:
        print(i)
        i+=1

1
2
3
5

In [2]:
n = int(input("Enter a number"))

i=1
while (i<=10):
    print(n , " * " , i , " = ", n*i )
    i+=1

Enter a number5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [3]:
ListN = [20, 15, 25, 28, 30,35]

for i in ListN:
    print(i)

20
15
25
28
30
35

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [6]:
for i in range(1, 5, 2):
    print(i)

1
3

In [7]:
nos = [25, 12, 33, 55, 12]
for i in range(len(nos)):
    print(nos[i])

25
12
33
55
12

In [8]:
for i in range(1, len(nos), 2):
    print(nos[i])

12
55

In [13]:
# make factorial
n = int(input("Enter any no /n"))

fact = 1
i = 1

while (i<=n):
    fact = fact * i
    i+=1
    
print(fact)

Enter any no /n3
6

In [19]:
# sum 
x = int(input("Enter value"))

sum = 0
i = 1

while (i<=x):
    sum = sum + i
    i += 1
    
print(sum)

Enter value5
15

### Class 5

In [10]:
#prime no

n = int(input("Enter any no\n"))


if(n <=1):
    i+=1

else:
    for i in range(2,n):
        if (n%i==0):
            print ("Not a prime no ", n)
            break
        else:
            print ("Prime No ", n)

Enter any no
10
Not a prime no  10

In [11]:
#palindrome and armstrong example pending

In [14]:
#Fibonacci sequence 
n = int(input("Enter any no for Fibonacci sequence"))
a = 0
b = 1

for i in range(n):
    print (a, end = " ")
    a = b
    b = a+b

Enter any no for Fibonacci sequence4
0 1 2 4

## function- block of use, code reusability

In [18]:
def sum(a, b):
    return a+b

In [19]:
sum(20, 30)

50

In [22]:
def is_armstrong(n):
    temp = n
    sum = 0
    
    while(temp!=0):
        rem = temp%10
        sum = sum + rem**3
        temp = temp // 10
        
    if(n == sum):
        print (n, "is an armstrong no")
    else:
        print(n, "is not an armstrong no")

In [23]:
is_armstrong(153)

153 is an armstrong no

In [24]:
is_armstrong(121)

121 is not an armstrong no

In [25]:
def is_pallendrome(n):
    temp = n
    sum = 0
    
    while temp >0 :
        rem = temp % 10
        sum = sum * 10 + rem
        temp = temp // 10
        
    if (n == sum):
        print (n, "is a pallendrome element")
    else:
        print(n, "is not a pallendrome element")

In [26]:
is_pallendrome(121)

121 is a pallendrome element

In [28]:
is_pallendrome(1551)

1551 is a pallendrome element

In [29]:
def pallendrome(n):
    temp = n
    sum = 0
    
    while temp >0 :
        rem = temp % 10
        print(rem)
        sum = sum * 10 + rem
        print(sum)
        temp = temp // 10
        print(temp)
        
    if (n == sum):
        print (n, "is a pallendrome element")
    else:
        print(n, "is not a pallendrome element")
        
pallendrome(121)

1
1
12
2
12
1
1
121
0
121 is a pallendrome element

### Recursion- function k ander function

In [3]:
# recurssion
def fact(n):
    if(n==0 or n==1):
        return 1
    return n * fact(n-1)

In [5]:
fact(5)

120

In [7]:
fact (3)

6

# File handling- Open , Read, Write, Close files
 Types of files-
 1. text files- .txt, .doc, 
 2. binary files- .mp4. mp3, etc


## R, W, A || R+, W+, A+
Read- read the data
write- overwrite
append - write after end 

R+ -> Read and overwrite data, no truncate, pointer at the begining
W+ -> read and overwrite data, trucncate, 
A+ -> read and append data, no truncate, pointer at the end

In [12]:
f = open("ducate_file_handling.txt", "r")
data = f.read()
print(data)
f.close()

This is a sample data.
Please read the data.

In [18]:
# read- read all data
# readline- read current line

f = open("ducate_file_handling.txt", "r")
data2 = f.readline()
print(data2)

data3 = f.readline()
print(data3)

This is a sample data.

Please read the data.

In [36]:
# w & w+ are same- delete all existing data and then write 
with open ("ducate_file_handling.txt", "w") as f:
    data = f.write("This is something.")
    print (data)

18

In [38]:
#a = appending data at the end
with open ("ducate_file_handling.txt", "a") as f:
    data = f.write("\nThis is my appended data")
    print (data)

25

In [40]:
#r+ = overwrite on existing data
with open ("ducate_file_handling.txt", "r+") as f:
    data = f.write("Ducate.")
    print (data)

7

In [44]:
#w & w+ are same = delete all existing data and then write 
with open ("ducate_file_handling.txt", "w+") as f:
    data = f.write("Look at this,")
    print (data)

13

In [48]:
#a+ = overwrite on existing data
with open ("ducate_file_handling.txt", "a+") as f:
    data = f.write("Ducate. \nSounds Great.")
    print (data)

22

# Import OS

In [51]:
import os

In [55]:
# cwd - current working directory- its gives directory path
print(os.getcwd())

C:\Users\dmm

In [59]:
if(os.path.exists("ducate_file_handling.txt")):
    print ("File Exist")
else:
    print ("Doesn't exist")

File Exist

In [61]:
#os.stat- gives details about file mean , median, SD
file_info = os.stat("ducate_file_handling.txt")
print(file_info)

os.stat_result(st_mode=33206, st_ino=7881299347916282, st_dev=1156908334006787976, st_nlink=1, st_uid=0, st_gid=0, st_size=43, st_atime=1746534364, st_mtime=1746534358, st_ctime=1746531903)

In [65]:
# rename- as its suggest it remane file

#os.rename("ducate_file_handling.txt", "Hello.txt")
#os.rename("Hello.txt", "ducate_file_handling.txt")

In [69]:
#delete file
os.remove("ducate_file_handling.txt")

In [73]:
# create new text file
file_path = "ducate_file_handling.txt"

with open (file_path, "w") as f:
    data = f.write("This is something.")
    print (data)

18

# OOPS- object oriented programing

### attributes - class &  objects
1. class is a collection of objects.
2. class is a logical entity
3. class consist of attributes, behaviour & method.
4. object is blueprint of class.
5. object is a real world entity.

## Pillars of OOPS
### Data Abstraction- 
1. data means data, abstract means- hide.
2. so this indicate hiding internal details showing only the fuctionality.
3. example1- 1 person end msg to 2 person. It was read and replied. Do they have to know the backend coding?
4. example2- there is 1 car and you started engine and they went on a drive. do they have to know hoe the engine is started?
5. example3- bank transtion dr and cr. fuctionality.
### Polymorphism- 
1. poly means many, morphism means- forms.
2. when a object have more than 1 form.
3. example1- in a match(class) he did bowling, batting and wicket keeping. so object in class is in more than 1 form.
4. example2- + operator example its use with int, str and list.
##### polymorphism type
1. compile time- method overloading- when you have same method name but different parameters
2. run time-method overriding- when you have same method name differnt meaning
### Inheritance- (most Important)
1. it is a technique that proves a functionality that in your class you can fetch your parent class property.
2. child class can use parent class functionality.
3. child class has inheritent property of parent.
4. Animal(parent)-eat, Dog(child)-bark, BabyDog(sub-child)-cute sound. Dog and BabyDog also eat so it can recall it.
##### Inheritance Levels
1. single level- animal>dog
2. multi level- animal>dog>baby dog
3. multiple level- animal>dog, animal>babyDog
4. hybrid level- sum, product, third(sum,product)
### Encapsulation- 
1. when you use data and methods both into a single class.
2. wrapping up of a data + method/fuction into a single unit

In [91]:
# Encapsulation example

class Student:
    def __init__(self, fname, age):
        self.name = fname
        self.age = age
        
    def hello(self):
        print("Hello", self.name)

    def welcome(self):
        print("Your age is", self.age)
        

s1 = Student("Karan", 19)
print(s1.name)
s1.hello()
s1.welcome()

Karan
Hello Karan
Your age is 19

In [3]:
#data abstraction

class Account:
    def __init__(self, bal, acc_no):
        self.balance = bal
        self.acc = acc_no

    def debit(self, amt):
        self.balance -= amt
        print ("Rs." , amt, "is debited")
        print("Your Total Balance =" , self.balance)

    def credit(self, amt):
        self.balance += amt
        print ("Rs." , amt, "is credited")
        print("Your Total Balance =" , self.balance)

    def getbalance():
        return self.balance

p1 = Account(10000, 1234)
p1.debit(1000)
p1.debit(234)
p1.credit(1200)
p1.debit(456)

Rs. 1000 is debited
Your Total Balance = 9000
Rs. 234 is debited
Your Total Balance = 8766
Rs. 1200 is credited
Your Total Balance = 9966
Rs. 456 is debited
Your Total Balance = 9510

In [12]:
#inheritance

class Animal: #Parent / base class
    def eat(self):
        print("Eating!!")

    def hello(self):
        print("Tuffy!!")

class Dog(Animal): # child class
    def Bark(self):
        print("Barking!!")

d = Dog()
d.Bark()
d.hello()

Barking!!
Tuffy!!

In [19]:
#inheritance- multi-level

class Animal: #Parent / base class
    def eat(self):
        print("Eating!!")

    def hello(self):
        print("Tuffy!!")

class Dog(Animal): # child class
    def Bark(self):
        print("Barking!!")

class BabyDog(Dog):
    def sleep(self):
        print("Sleep!!")

d = BabyDog()
d.Bark()
d.sleep()

Barking!!
Sleep!!

In [34]:
#inheritance- hybrid level

class Sum():
    def sum(self, a, b):
        return a+b

class Product():
    def product(self, a, b):
        return a*b

class Third(Sum, Product):
    def divide(self, a, b):
        return a/b

f = Third()
print(f.divide(10, 5))
print(f.product(10,5))
print(f.sum(10, 5))

2.0
50
15

In [38]:
# Polymorphism

print(10+20)
print("hello" + " " + "world")
print([1, 2,3, 4]+ [4, 5,6 ,6])

30
hello world
[1, 2, 3, 4, 4, 5, 6, 6]

In [46]:
# polymorphism

class Shape:
    def area(self):
        return "undefined"

class Rectangle(Shape):
    def __init__(self, l, b):
        self.length = l
        self.breath = b

    def area(self):
        return self.length * self.breath

class Circle(Shape):
    def __init__(self, r):
        self.radius = r

    def area(self):
        return 3.14 * self.radius**2

shapes = [Rectangle(20, 30), Circle(4)]
for i in shapes:
    print ("Area" , i.area())

Area 600
Area 50.24

In [2]:
#polymorphism- run time - Overriding

class Animal:
    def sound(self):
        return "Some specific sound"


class Dog(Animal):
    def sound(self):
        return "bark"

class Cat(Animal):
    def sound(self):
        return "meow"

animal = [Dog(), Cat(), Animal()]

for i in animal:
    print(i.sound())

bark
meow
Some specific sound

In [14]:
#polymorphism- complie time- overloading(doesn't work in python)

class Sum():
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def cal(self):
        return self.a * self.b
        
    def cal(self):
        return self.a * self.b * self.c

s1 = Sum(10, 20, 30)
print(s1.cal())
print(s1.cal())

6000
6000

In [16]:
#example 
class Sum():
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def cal(self):
        return self.a * self.b
        
    def cal1(self):
        return self.a * self.b * self.c

s1 = Sum(10, 20, 30)
print(s1.cal())
print(s1.cal1())

200
6000

# class 10

## Exception handling
intruption which break the normal flow of program

### Exception handling types
1. try block- if not an error  then print this
2. except block- if error then print this
3. finally- always run

In [21]:
print("Hello")
print("Hello")
try:
    print(a)
except:
    print("error found")
print("Hello")
print("Hello")

Hello
Hello
error found
Hello
Hello

In [29]:
print("Hello")
print("Hello")
try:
    print(a)
except:
    print("error found")
finally:
    print("Always print.")
print("Hello")
print("Hello")

Hello
Hello
error found
Always print.
Hello
Hello

In [25]:
print("Hello")
print("Hello")
try:
    print("hello!")
except:
    print("error found")
print("Hello")
print("Hello")

Hello
Hello
hello!
Hello
Hello

In [27]:
print("Hello")
print("Hello")
try:
    print("hello!")
except:
    print("error found")
finally:
    print("Always print.")
print("Hello")
print("Hello")

Hello
Hello
hello!
Always print.
Hello
Hello

In [39]:
a = input("Enter your number")

try:
    print (f"Multiplication table of {a} is :")
    for i in range(1, 11):
        print (f"{int(a)} X {int(i)} = {(int(a)*int(i))}")
        
except:
    print("Found Error")

finally:
    print("This is exception handling")

Enter your number 5

Multiplication table of 5 is :
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
This is exception handling

In [41]:
a = input("Enter your number")

try:
    print (f"Multiplication table of {a} is :")
    for i in range(1, 11):
        print (f"{int(a)} X {int(i)} = {(int(a)*int(i))}")
        
except:
    print("Found Error")

finally:
    print("This is exception handling")

Enter your number g

Multiplication table of g is :
Found Error
This is exception handling

# Multi threading- 
is a technique in programing that allow multiple thread of execution to run within a single process

In [20]:
import threading
import time

In [5]:
#normal function w/o threading

def func(sec):
    print(f"Sleeping for {sec} Seconds")
    time.sleep(sec)


time1 = time.perf_counter()
func(4)
func(3)
func(2)
time2 =  time.perf_counter()
print(time2 - time1)

Sleeping for 4 Seconds
Sleeping for 3 Seconds
Sleeping for 2 Seconds
9.002150100073777

In [6]:
# Multi-threading

def func(sec):
    print(f"Sleeping for {sec} Seconds")
    time.sleep(sec)


time1 = time.perf_counter()
func(4)
func(3)
func(2)
time2 =  time.perf_counter()
print(time2 - time1)

Sleeping for 4 Seconds
Sleeping for 3 Seconds
Sleeping for 2 Seconds
9.003917000023648

In [15]:
def func(sec):
    print(f"Sleeping for {sec} Seconds")
    time.sleep(sec)
time1 = time.perf_counter()
t1 = threading.Thread(target= func, args=[4])

t2 = threading.Thread(target= func, args=[3])

t3 = threading.Thread(target= func, args=[2])

t1.start()
t2.start()
t3.start()
time2 = time.perf_counter()
print(time2-time1)

Sleeping for 4 Seconds
Sleeping for 3 Seconds
Sleeping for 2 Seconds
0.010726100066676736

In [17]:
def func(sec):
    print(f"Sleeping for {sec} Seconds")
    time.sleep(sec)
time1 = time.perf_counter()
t1 = threading.Thread(target= func, args=[4])

t2 = threading.Thread(target= func, args=[3])

t3 = threading.Thread(target= func, args=[2])

t1.start()
t2.start()
t3.start()

t1.join()
t2.join()
t3.join()
time2 = time.perf_counter()
print(time2-time1)

Sleeping for 4 Seconds
Sleeping for 3 Seconds
Sleeping for 2 Seconds
4.005380600108765

# Lambda
use when you have single line of logic else if you have multi line logic then
use normal fucntion

In [10]:
# normal way

def double(x):
    return x*2

print("Normal-", double(3))

# lambda way
double = lambda x : x*2

d = lambda x, y : x+y
cube = lambda x: x**3
avg = lambda x, y, z: (x + y + z)/3

print("Lambda-", double(3))
print("Lambda-", d(3, 8))
print("Lambda-", cube(3))
print("Lambda-", avg(4, 6, 8))

Normal- 6
Lambda- 6
Lambda- 11
Lambda- 27
Lambda- 6.0

# map, filter, reduce

map is a function to each element in a sequence and written after fuctioning it

In [22]:
# map

def cube(x):
    return x**3

l = [2,4, 6,7, 8]

newl = list(map(cube, l))
print(newl)

[8, 64, 216, 343, 512]

In [30]:
# filter

def filter_function(a):
    return a>6

l = [2,4, 6,7, 8]

newL = list(filter(filter_function,l))
print(newL)

[7, 8]

In [32]:
from functools import reduce

In [34]:
# reduce

l = [2,4, 6,7, 8] # [6, 6, 7, 8), [12, 7, 8], [19, 8]

sum = reduce(lambda x, y :x+y, l)
print(sum)

27

In [ ]:
# SQL connection

import mysql.connector as Myconn

mydb = Myconn.connect(host="localhost", user="root", password="password123") #database="python")
print("Connectiom establised")

# Windows-pip instal mysql-connector-python
# mac-pip3 install mysql-connector-python

db_curser = mydb.curser()
db.cursor.execute("creat database python")